{%extends 'layout.html'%}

{%block body%}




<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Occupation</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Property Management</td>
      <td>Felicia</td>
      <td>Jones-Logan</td>
      <td>(510)-569-0722 x113</td>
      <td>condos3@slpm.com</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>plumbing</td>
      <td>First</td>
      <td>Last</td>
      <td>(510)-569-xxxx</td>
      <td>plumbing@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Electrician</td>
      <td>Sparky</td>
      <td>Sparson</td>
      <td>(510)-569-xxxx</td>
      <td>electrician@gmail.com</td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Sanitation</td>
      <td>ACI</td>
      <td></td>
      <td>(510)-569-xxxx</td>
      <td>ACI@gmail.com</td>
    </tr>
  </tbody>
</table>





{%endblock%}
